In [324]:
import pandas as pd
import numpy as np

In [325]:
from os import listdir
from os.path import isfile, join
from datetime import datetime
from dateutil.parser import parse

In [326]:
confirmed_file = 'time_series_2019-ncov-Confirmed.csv'
recovered_file = 'time_series_2019-ncov-Recovered.csv'
deaths_file = 'time_series_2019-ncov-Deaths.csv'

In [327]:
confirmed_df = pd.read_csv(confirmed_file)
recovered_df = pd.read_csv(recovered_file)
deaths_df = pd.read_csv(deaths_file)
confirmed_df.head()

,Province/State,Country/Region,Lat,Long,1/21/20 22:00,1/22/20 12:00,1/23/20 12:00,1/24/20 0:00,1/24/20 12:00,1/25/20 0:00,...,2/7/20 20:13,2/7/20 22:50,2/8/20 22:04,2/8/20 23:04,2/9/20 10:30,2/9/20 23:20,2/10/20 10:30,2/10/20 19:30,2/11/20 10:50,2/11/20 20:44
0,Anhui,Mainland China,31.82571,117.2264,NaN,1.0,9.0,15.0,15.0,39.0,...,665.0,733.0,733.0,779.0,779.0,830.0,830.0,830.0,860,889
1,Beijing,Mainland China,40.18238,116.4142,10.0,14.0,22.0,26.0,36.0,36.0,...,297.0,315.0,315.0,326.0,326.0,337.0,337.0,337.0,342,342
2,Chongqing,Mainland China,30.05718,107.8740,5.0,6.0,9.0,27.0,27.0,57.0,...,415.0,426.0,428.0,446.0,450.0,468.0,473.0,486.0,489,505
3,Fujian,Mainland China,26.07783,117.9895,NaN,1.0,5.0,5.0,10.0,10.0,...,224.0,239.0,239.0,250.0,250.0,261.0,261.0,261.0,267,272
4,Gansu,Mainland China,36.06110,103.8343,NaN,NaN,2.0,2.0,2.0,4.0,...,67.0,71.0,79.0,79.0,79.0,83.0,83.0,86.0,86,86

In [328]:
confirmed_columns = confirmed_df.columns[4:]
recovered_columns = recovered_df.columns[4:]
deaths_columns = recovered_df.columns[4:]


confirmed_dates = pd.to_datetime(confirmed_columns)
recovered_dates = pd.to_datetime(recovered_columns)
deaths_dates = pd.to_datetime(deaths_columns)

confirmed_dates_formatted = []
recovered_dates_formatted = []
deaths_dates_formatted = []

for x in confirmed_dates:
    confirmed_dates_formatted.append(x.strftime("%m/%d/%Y"))
for x in recovered_dates:
    recovered_dates_formatted.append(x.strftime("%m/%d/%Y"))
for x in deaths_dates:
    deaths_dates_formatted.append(x.strftime("%m/%d/%Y"))
    
confirmed_dates_formatted = pd.to_datetime(confirmed_dates_formatted)
recovered_dates_formatted = pd.to_datetime(recovered_dates_formatted)
deaths_dates_formatted = pd.to_datetime(deaths_dates_formatted)
confirmed_dates

DatetimeIndex(['2020-01-21 22:00:00', '2020-01-22 12:00:00',
               '2020-01-23 12:00:00', '2020-01-24 00:00:00',
               '2020-01-24 12:00:00', '2020-01-25 00:00:00',
               '2020-01-25 12:00:00', '2020-01-25 22:00:00',
               '2020-01-26 11:00:00', '2020-01-26 23:00:00',
               '2020-01-27 09:00:00', '2020-01-27 19:00:00',
               '2020-01-27 20:30:00', '2020-01-28 13:00:00',
               '2020-01-28 18:00:00', '2020-01-28 23:00:00',
               '2020-01-29 13:30:00', '2020-01-29 14:30:00',
               '2020-01-29 21:00:00', '2020-01-30 11:00:00',
               '2020-01-31 14:00:00', '2020-02-01 10:00:00',
               '2020-02-02 21:00:00', '2020-02-03 21:00:00',
               '2020-02-04 09:40:00', '2020-02-04 22:00:00',
               '2020-02-05 09:00:00', '2020-02-05 23:00:00',
               '2020-02-06 09:00:00', '2020-02-06 14:20:00',
               '2020-02-07 20:13:00', '2020-02-07 22:50:00',
               '2020-02-08 22:04:00', '2020-02-08 23:04:00',
               '2020-02-09 10:30:00', '2020-02-09 23:20:00',
               '2020-02-10 10:30:00', '2020-02-10 19:30:00',
               '2020-02-11 10:50:00', '2020-02-11 20:44:00'],
              dtype='datetime64[ns]', freq=None)

In [329]:
import pymongo
import dns
username = 'Terra925'
password = 'H%40mmond271'

conn = 'mongodb+srv://' + username +':' + password + '@cluster0-paegd.mongodb.net/test?retryWrites=true&w=majority'
client = pymongo.MongoClient(conn)
db = client['corona_virus']
collection = db['test']

In [330]:
cursor = collection.find().sort([('date', -1)]).limit(1)

In [331]:
for x in cursor:
    last_update = x['date']

last_update

datetime.datetime(2020, 2, 7, 22, 50)

In [332]:
last_update.strftime("%m/%d/%Y")

'02/07/2020'

In [333]:
i = 0
confirmed_imports = []
for x in confirmed_dates_formatted:
    if x >= last_update:
        confirmed_imports.append(confirmed_columns[i])
    i = i + 1

i = 0
recovered_imports = []
for x in recovered_dates_formatted:
    if x >= last_update:
        recovered_imports.append(recovered_columns[i])
    i = i + 1
    
i = 0
deaths_imports = []
for x in deaths_dates_formatted:
    if x >= last_update:
        deaths_imports.append(deaths_columns[i])
    i = i + 1

confirmed_imports = confirmed_imports[::-1]
recovered_imports = recovered_imports[::-1]
deaths_imports = deaths_imports[::-1]

z = ''
i = 0
confirmed_imports_filtered = []
for x in confirmed_imports:
    if x[0:6] == z:
        pass
    else:
        confirmed_imports_filtered.append(x)
    z = x[0:6]
    i = i + 1
confirmed_imports_filtered

z = ''
i = 0
recovered_imports_filtered = []
for x in recovered_imports:
    if x[0:6] == z:
        pass
    else:
        recovered_imports_filtered.append(x)
    z = x[0:6]
    i = i + 1
recovered_imports_filtered

z = ''
i = 0
deaths_imports_filtered = []
for x in deaths_imports:
    if x[0:6] == z:
        pass
    else:
        deaths_imports_filtered.append(x)
    z = x[0:6]
    i = i + 1

confirmed_imports_filtered = confirmed_imports_filtered + list(confirmed_df.columns[0:4])
recovered_imports_filtered = recovered_imports_filtered + list(recovered_df.columns[0:4])
deaths_imports_filtered = deaths_imports_filtered + list(deaths_df.columns[0:4])
confirmed_imports_filtered

['2/11/20 20:44',
 '2/10/20 19:30',
 '2/9/20 23:20',
 '2/8/20 23:04',
 'Province/State',
 'Country/Region',
 'Lat',
 'Long']

In [334]:
confirmed_df = confirmed_df[confirmed_imports_filtered]
recovered_df = recovered_df[recovered_imports_filtered]
deaths_df = deaths_df[deaths_imports_filtered]

deaths_df

,2/11/20 20:44,2/10/20 19:30,2/9/20 23:20,2/8/20 23:04,Province/State,Country/Region,Lat,Long
0,4,3.0,3.0,1.0,Anhui,Mainland China,31.82571,117.22640
1,3,2.0,2.0,2.0,Beijing,Mainland China,40.18238,116.41420
2,3,2.0,2.0,2.0,Chongqing,Mainland China,30.05718,107.87400
3,0,0.0,0.0,0.0,Fujian,Mainland China,26.07783,117.98950
4,2,2.0,2.0,1.0,Gansu,Mainland China,36.06110,103.83430
5,1,1.0,1.0,1.0,Guangdong,Mainland China,23.33841,113.42200
6,1,1.0,1.0,1.0,Guangxi,Mainland China,23.82908,108.78810
7,1,1.0,1.0,1.0,Guizhou,Mainland China,26.81536,106.87480
8,3,3.0,3.0,2.0,Hainan,Mainland China,19.19673,109.74550
9,2,2.0,2.0,2.0,Hebei,Mainland China,38.04280,114.51490
10,8,7.0,7.0,6.0,Heilongjiang,Mainland China,47.86200,127.76220
11,8,6.0,6.0,6.0,Henan,Mainland China,33.88202,113.61400
12,1068,974.0,871.0,780.0,Hubei,Mainland China,30.97564,112.27070
13,2,1.0,1.0,1.0,Hunan,Mainland China,27.61041,111.70880
14,0,0.0,0.0,0.0,Inner Mongolia,Mainland China,44.09448,113.94560
15,0,0.0,0.0,0.0,Jiangsu,Mainland China,32.97027,119.46400
16,1,1.0,1.0,0.0,Jiangxi,Mainland China,27.61401,115.72210
17,1,1.0,1.0,1.0,Jilin,Mainland China,43.66657,126.19170
18,0,0.0,0.0,0.0,Liaoning,Mainland China,41.29284,122.60860
19,0,0.0,0.0,0.0,Ningxia,Mainland China,37.26923,106.16550
20,0,0.0,0.0,0.0,Qinghai,Mainland China,35.65945,96.02564
21,0,0.0,0.0,0.0,Shaanxi,Mainland China,35.19165,108.87010
22,1,1.0,1.0,1.0,Shandong,Mainland China,36.34377,118.15290
23,1,1.0,1.0,1.0,Shanghai,Mainland China,31.20327,121.45540
24,0,0.0,0.0,0.0,Shanxi,Mainland China,37.57769,112.29220
25,1,1.0,1.0,1.0,Sichuan,Mainland China,30.61714,102.71030
26,2,1.0,1.0,1.0,Tianjin,Mainland China,39.29362,117.33300
27,0,0.0,0.0,0.0,Tibet,Mainland China,30.15340,88.78790
28,0,0.0,0.0,0.0,Xinjiang,Mainland China,41.11981,85.17822
29,0,0.0,0.0,0.0,Yunnan,Mainland China,24.97411,101.48680
...,...,...,...,...,...,...,...,...
43,0,0.0,0.0,0.0,NaN,Nepal,28.39490,84.12400
44,0,0.0,0.0,0.0,NaN,Malaysia,4.21050,101.97580
45,0,0.0,0.0,0.0,"Toronto, ON",Canada,43.65320,-79.38320
46,0,0.0,0.0,0.0,British Columbia,Canada,49.28270,-123.12100
47,0,0.0,0.0,0.0,"Orange, CA",US,33.78790,-117.85310
48,0,0.0,0.0,0.0,"Los Angeles, CA",US,34.05220,-118.24370
49,0,0.0,0.0,0.0,New South Wales,Australia,-33.86880,151.20930
50,0,0.0,0.0,0.0,Victoria,Australia,-37.81360,144.96310
51,0,0.0,0.0,0.0,Queensland,Australia,-27.46980,153.02510
52,0,0.0,0.0,0.0,NaN,Cambodia,12.56570,104.99100
53,0,0.0,0.0,0.0,NaN,Sri Lanka,7.87310,80.77180
54,0,0.0,0.0,0.0,NaN,Germany,51.16570,10.45150
55,0,0.0,0.0,0.0,NaN,Finland,61.92410,25.74820
56,0,0.0,0.0,0.0,NaN,United Arab Emirates,23.42410,53.84780
57,1,1.0,1.0,1.0,NaN,Philippines,12.87970,121.77400
58,0,0.0,0.0,0.0,NaN,India,20.59370,78.96290
59,0,0.0,0.0,0.0,"London, ON",Canada,42.98490,-81.24530
60,0,0.0,0.0,0.0,NaN,Italy,41.87190,12.56740
61,0,0.0,0.0,0.0,NaN,UK,55.37810,-3.43600
62,0,0.0,0.0,0.0,NaN,Russia,61.52400,105.31880
63,0,0.0,0.0,0.0,NaN,Sweden,60.12820,18.64350
64,0,0.0,0.0,0.0,"Santa Clara, CA",US,37.35410,-121.95520
65,0,0.0,0.0,0.0,NaN,Spain,40.46370,-3.74920
66,0,0.0,0.0,0.0,South Australia,Australia,-34.92850,138.60070
67,0,0.0,0.0,0.0,"Boston, MA",US,42.36010,-71.05890
68,0,0.0,0.0,0.0,"San Benito, CA",US,36.57610,-120.98760
69,0,0.0,0.0,0.0,NaN,Belgium,50.50390,4.46990
70,0,0.0,0.0,0.0,"Madison, WI",US,43.07310,-89.40120
71,0,0.0,0.0,0.0,Diamond Princess cruise ship,Others,35.44370,129.63800
72,0,NaN,NaN,NaN,"San Diego County, CA",US,32.71570,-117.16110

In [311]:
confirmed_df.loc[confirmed_df['Province/State'].isnull(),'Province/State'] = confirmed_df['Country/Region']
recovered_df.loc[recovered_df['Province/State'].isnull(),'Province/State'] = recovered_df['Country/Region']
deaths_df.loc[deaths_df['Province/State'].isnull(),'Province/State'] = deaths_df['Country/Region']

In [312]:
confirmed_df = confirmed_df.melt(id_vars=["Province/State", "Country/Region", "Lat", "Long"], 
        var_name="Date", 
        value_name="Confirmed Cases").sort_values(by=['Province/State', 'Date'])
recovered_df = recovered_df.melt(id_vars=["Province/State", "Country/Region", "Lat", "Long"], 
        var_name="Date", 
        value_name="Recovered Cases").sort_values(by=['Province/State', 'Date'])
deaths_df = deaths_df.melt(id_vars=["Province/State", "Country/Region", "Lat", "Long"], 
        var_name="Date", 
        value_name="Death Cases").sort_values(by=['Province/State', 'Date'])
recovered_df

,Province/State,Country/Region,Lat,Long,Date,Recovered Cases
73,Anhui,Mainland China,31.82571,117.22640,2/10/20 19:30,88.0
0,Anhui,Mainland China,31.82571,117.22640,2/11/20 20:44,108.0
219,Anhui,Mainland China,31.82571,117.22640,2/8/20 23:04,59.0
146,Anhui,Mainland China,31.82571,117.22640,2/9/20 23:20,73.0
74,Beijing,Mainland China,40.18238,116.41420,2/10/20 19:30,44.0
1,Beijing,Mainland China,40.18238,116.41420,2/11/20 20:44,48.0
220,Beijing,Mainland China,40.18238,116.41420,2/8/20 23:04,37.0
147,Beijing,Mainland China,40.18238,116.41420,2/9/20 23:20,44.0
142,Belgium,Belgium,50.50390,4.46990,2/10/20 19:30,0.0
69,Belgium,Belgium,50.50390,4.46990,2/11/20 20:44,0.0
288,Belgium,Belgium,50.50390,4.46990,2/8/20 23:04,0.0
215,Belgium,Belgium,50.50390,4.46990,2/9/20 23:20,0.0
140,"Boston, MA",US,42.36010,-71.05890,2/10/20 19:30,0.0
67,"Boston, MA",US,42.36010,-71.05890,2/11/20 20:44,0.0
286,"Boston, MA",US,42.36010,-71.05890,2/8/20 23:04,0.0
213,"Boston, MA",US,42.36010,-71.05890,2/9/20 23:20,0.0
119,British Columbia,Canada,49.28270,-123.12100,2/10/20 19:30,0.0
46,British Columbia,Canada,49.28270,-123.12100,2/11/20 20:44,0.0
265,British Columbia,Canada,49.28270,-123.12100,2/8/20 23:04,0.0
192,British Columbia,Canada,49.28270,-123.12100,2/9/20 23:20,0.0
125,Cambodia,Cambodia,12.56570,104.99100,2/10/20 19:30,0.0
52,Cambodia,Cambodia,12.56570,104.99100,2/11/20 20:44,0.0
271,Cambodia,Cambodia,12.56570,104.99100,2/8/20 23:04,0.0
198,Cambodia,Cambodia,12.56570,104.99100,2/9/20 23:20,0.0
108,"Chicago, IL",US,40.63310,-89.39850,2/10/20 19:30,2.0
35,"Chicago, IL",US,40.63310,-89.39850,2/11/20 20:44,2.0
254,"Chicago, IL",US,40.63310,-89.39850,2/8/20 23:04,0.0
181,"Chicago, IL",US,40.63310,-89.39850,2/9/20 23:20,2.0
75,Chongqing,Mainland China,30.05718,107.87400,2/10/20 19:30,66.0
2,Chongqing,Mainland China,30.05718,107.87400,2/11/20 20:44,79.0
...,...,...,...,...,...,...
264,"Toronto, ON",Canada,43.65320,-79.38320,2/8/20 23:04,0.0
191,"Toronto, ON",Canada,43.65320,-79.38320,2/9/20 23:20,0.0
134,UK,UK,55.37810,-3.43600,2/10/20 19:30,0.0
61,UK,UK,55.37810,-3.43600,2/11/20 20:44,0.0
280,UK,UK,55.37810,-3.43600,2/8/20 23:04,0.0
207,UK,UK,55.37810,-3.43600,2/9/20 23:20,0.0
129,United Arab Emirates,United Arab Emirates,23.42410,53.84780,2/10/20 19:30,0.0
56,United Arab Emirates,United Arab Emirates,23.42410,53.84780,2/11/20 20:44,1.0
275,United Arab Emirates,United Arab Emirates,23.42410,53.84780,2/8/20 23:04,0.0
202,United Arab Emirates,United Arab Emirates,23.42410,53.84780,2/9/20 23:20,0.0
123,Victoria,Australia,-37.81360,144.96310,2/10/20 19:30,0.0
50,Victoria,Australia,-37.81360,144.96310,2/11/20 20:44,0.0
269,Victoria,Australia,-37.81360,144.96310,2/8/20 23:04,0.0
196,Victoria,Australia,-37.81360,144.96310,2/9/20 23:20,0.0
114,Vietnam,Vietnam,21.02780,105.83420,2/10/20 19:30,1.0
41,Vietnam,Vietnam,21.02780,105.83420,2/11/20 20:44,6.0
260,Vietnam,Vietnam,21.02780,105.83420,2/8/20 23:04,1.0
187,Vietnam,Vietnam,21.02780,105.83420,2/9/20 23:20,1.0
101,Xinjiang,Mainland China,41.11981,85.17822,2/10/20 19:30,0.0
28,Xinjiang,Mainland China,41.11981,85.17822,2/11/20 20:44,3.0
247,Xinjiang,Mainland China,41.11981,85.17822,2/8/20 23:04,0.0
174,Xinjiang,Mainland China,41.11981,85.17822,2/9/20 23:20,0.0
102,Yunnan,Mainland China,24.97411,101.48680,2/10/20 19:30,19.0
29,Yunnan,Mainland China,24.97411,101.48680,2/11/20 20:44,20.0
248,Yunnan,Mainland China,24.97411,101.48680,2/8/20 23:04,17.0
175,Yunnan,Mainland China,24.97411,101.48680,2/9/20 23:20,18.0
103,Zhejiang,Mainland China,29.18251,120.09850,2/10/20 19:30,242.0
30,Zhejiang,Mainland China,29.18251,120.09850,2/11/20 20:44,279.0
249,Zhejiang,Mainland China,29.18251,120.09850,2/8/20 23:04,185.0
176,Zhejiang,Mainland China,29.18251,120.09850,2/9/20 23:20,201.0

In [313]:

confirmed_df.fillna(0, inplace=True)
confirmed_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 73 to 176
Data columns (total 6 columns):
Province/State     292 non-null object
Country/Region     292 non-null object
Lat                292 non-null float64
Long               292 non-null float64
Date               292 non-null object
Confirmed Cases    292 non-null float64
dtypes: float64(3), object(3)
memory usage: 16.0+ KB

In [314]:
recovered_df.fillna(0, inplace=True)
recovered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 73 to 176
Data columns (total 6 columns):
Province/State     292 non-null object
Country/Region     292 non-null object
Lat                292 non-null float64
Long               292 non-null float64
Date               292 non-null object
Recovered Cases    292 non-null float64
dtypes: float64(3), object(3)
memory usage: 16.0+ KB

In [315]:
deaths_df.fillna(0, inplace=True)
deaths_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 73 to 176
Data columns (total 6 columns):
Province/State    292 non-null object
Country/Region    292 non-null object
Lat               292 non-null float64
Long              292 non-null float64
Date              292 non-null object
Death Cases       292 non-null float64
dtypes: float64(3), object(3)
memory usage: 16.0+ KB

In [316]:
df = pd.concat([confirmed_df, recovered_df, deaths_df], axis=1)
### Remove duplicated columns

In [317]:
df = df.iloc[:, [0,1,2,3,4,5,11,17]]

In [318]:
by_date = df.groupby(["Date", "Province/State"]).max().reset_index()
by_date.head()

,Date,Province/State,Country/Region,Lat,Long,Confirmed Cases,Recovered Cases,Death Cases
0,2/10/20 19:30,Anhui,Mainland China,31.82571,117.2264,830.0,88.0,3.0
1,2/10/20 19:30,Beijing,Mainland China,40.18238,116.4142,337.0,44.0,2.0
2,2/10/20 19:30,Belgium,Belgium,50.50390,4.4699,1.0,0.0,0.0
3,2/10/20 19:30,"Boston, MA",US,42.36010,-71.0589,1.0,0.0,0.0
4,2/10/20 19:30,British Columbia,Canada,49.28270,-123.1210,4.0,0.0,0.0

In [319]:
totals = by_date.groupby("Date")["Confirmed Cases", "Recovered Cases", "Death Cases"].sum().reset_index()
totals.head()

            Date  Confirmed Cases  Recovered Cases  Death Cases
0  2/10/20 19:30          42767.0           3950.0       1013.0
1  2/11/20 20:44          45117.0           4781.0       1115.0
2   2/8/20 23:04          37549.0           2701.0        813.0
3   2/9/20 23:20          40536.0           3312.0        910.0

In [320]:
totals['Date'] = pd.to_datetime(totals['Date'])
by_date['Date'] = pd.to_datetime(by_date['Date'])

In [321]:
totals

                 Date  Confirmed Cases  Recovered Cases  Death Cases
0 2020-02-10 19:30:00          42767.0           3950.0       1013.0
1 2020-02-11 20:44:00          45117.0           4781.0       1115.0
2 2020-02-08 23:04:00          37549.0           2701.0        813.0
3 2020-02-09 23:20:00          40536.0           3312.0        910.0

In [322]:
### iterate through totals df so there is only one document per day
for index, row in totals.iterrows():
    date = row['Date']
    ### base post object
    post = {
        'date': row['Date'],
        'total_confirmed': row['Confirmed Cases'],
        'total_recovered': row['Recovered Cases'],
        'total_deaths': row['Death Cases'],
        'locations': {} ### this will be updated in the next itteration
        }
    ### iterate through by_date df to store relevant data
    for i, r in by_date.iterrows():
        ### only add to post if the date in by_date df matches the date in current itteration of totals df
        if r['Date'] == date:
            location = r['Province/State']
            ### temporary object to hold data that will be added to "locations" in post
            obj = {
                        "region": r['Country/Region'],
                        "lat": r["Lat"],
                        "lng": r["Long"],
                        "confirmed": r["Confirmed Cases"],
                        "recovered": r["Recovered Cases"],
                        "deaths": r["Death Cases"]
                    }
            ### add obj data to posted data
            post['locations'][location] = obj
            
            ### upload post to Mongo DB
        else:
            
            continue
    id = collection.insert_one(post).inserted_id

In [323]:
post

{'date': Timestamp('2020-02-09 23:20:00'),
 'total_confirmed': 40536.0,
 'total_recovered': 3312.0,
 'total_deaths': 910.0,
 'locations': {'Anhui': {'region': 'Mainland China',
   'lat': 31.82571,
   'lng': 117.2264,
   'confirmed': 830.0,
   'recovered': 73.0,
   'deaths': 3.0},
  'Beijing': {'region': 'Mainland China',
   'lat': 40.18238,
   'lng': 116.4142,
   'confirmed': 337.0,
   'recovered': 44.0,
   'deaths': 2.0},
  'Belgium': {'region': 'Belgium',
   'lat': 50.5039,
   'lng': 4.4699,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Boston, MA': {'region': 'US',
   'lat': 42.3601,
   'lng': -71.0589,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'British Columbia': {'region': 'Canada',
   'lat': 49.2827,
   'lng': -123.121,
   'confirmed': 4.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Cambodia': {'region': 'Cambodia',
   'lat': 12.5657,
   'lng': 104.991,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Chicago, IL': {'region': 'US',
   'lat': 40.6331,
   'lng': -89.3985,
   'confirmed': 2.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Chongqing': {'region': 'Mainland China',
   'lat': 30.05718,
   'lng': 107.874,
   'confirmed': 468.0,
   'recovered': 51.0,
   'deaths': 2.0},
  'Diamond Princess cruise ship': {'region': 'Others',
   'lat': 35.4437,
   'lng': 129.638,
   'confirmed': 64.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Finland': {'region': 'Finland',
   'lat': 61.9241,
   'lng': 25.7482,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'France': {'region': 'France',
   'lat': 46.2276,
   'lng': 2.2137,
   'confirmed': 11.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Fujian': {'region': 'Mainland China',
   'lat': 26.07783,
   'lng': 117.9895,
   'confirmed': 261.0,
   'recovered': 35.0,
   'deaths': 0.0},
  'Gansu': {'region': 'Mainland China',
   'lat': 36.0611,
   'lng': 103.8343,
   'confirmed': 83.0,
   'recovered': 16.0,
   'deaths': 2.0},
  'Germany': {'region': 'Germany',
   'lat': 51.1657,
   'lng': 10.4515,
   'confirmed': 14.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Guangdong': {'region': 'Mainland China',
   'lat': 23.33841,
   'lng': 113.422,
   'confirmed': 1151.0,
   'recovered': 147.0,
   'deaths': 1.0},
  'Guangxi': {'region': 'Mainland China',
   'lat': 23.82908,
   'lng': 108.7881,
   'confirmed': 210.0,
   'recovered': 18.0,
   'deaths': 1.0},
  'Guizhou': {'region': 'Mainland China',
   'lat': 26.81536,
   'lng': 106.8748,
   'confirmed': 109.0,
   'recovered': 7.0,
   'deaths': 1.0},
  'Hainan': {'region': 'Mainland China',
   'lat': 19.19673,
   'lng': 109.7455,
   'confirmed': 136.0,
   'recovered': 19.0,
   'deaths': 3.0},
  'Hebei': {'region': 'Mainland China',
   'lat': 38.0428,
   'lng': 114.5149,
   'confirmed': 218.0,
   'recovered': 35.0,
   'deaths': 2.0},
  'Heilongjiang': {'region': 'Mainland China',
   'lat': 47.862,
   'lng': 127.7622,
   'confirmed': 331.0,
   'recovered': 15.0,
   'deaths': 7.0},
  'Henan': {'region': 'Mainland China',
   'lat': 33.882020000000004,
   'lng': 113.614,
   'confirmed': 1073.0,
   'recovered': 169.0,
   'deaths': 6.0},
  'Hong Kong': {'region': 'Hong Kong',
   'lat': 22.3193,
   'lng': 114.1694,
   'confirmed': 36.0,
   'recovered': 3.0,
   'deaths': 0.0},
  'Hubei': {'region': 'Mainland China',
   'lat': 30.97564,
   'lng': 112.2707,
   'confirmed': 29631.0,
   'recovered': 1795.0,
   'deaths': 871.0},
  'Hunan': {'region': 'Mainland China',
   'lat': 27.61041,
   'lng': 111.7088,
   'confirmed': 879.0,
   'recovered': 186.0,
   'deaths': 1.0},
  'India': {'region': 'India',
   'lat': 20.5937,
   'lng': 78.9629,
   'confirmed': 3.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Inner Mongolia': {'region': 'Mainland China',
   'lat': 44.09448,
   'lng': 113.9456,
   'confirmed': 58.0,
   'recovered': 5.0,
   'deaths': 0.0},
  'Italy': {'region': 'Italy',
   'lat': 41.8719,
   'lng': 12.5674,
   'confirmed': 3.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Japan': {'region': 'Japan',
   'lat': 35.6762,
   'lng': 139.6503,
   'confirmed': 26.0,
   'recovered': 1.0,
   'deaths': 0.0},
  'Jiangsu': {'region': 'Mainland China',
   'lat': 32.97027,
   'lng': 119.464,
   'confirmed': 492.0,
   'recovered': 72.0,
   'deaths': 0.0},
  'Jiangxi': {'region': 'Mainland China',
   'lat': 27.61401,
   'lng': 115.7221,
   'confirmed': 771.0,
   'recovered': 102.0,
   'deaths': 1.0},
  'Jilin': {'region': 'Mainland China',
   'lat': 43.66657,
   'lng': 126.1917,
   'confirmed': 80.0,
   'recovered': 12.0,
   'deaths': 1.0},
  'Liaoning': {'region': 'Mainland China',
   'lat': 41.29284000000001,
   'lng': 122.6086,
   'confirmed': 107.0,
   'recovered': 12.0,
   'deaths': 0.0},
  'London, ON': {'region': 'Canada',
   'lat': 42.9849,
   'lng': -81.2453,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Los Angeles, CA': {'region': 'US',
   'lat': 34.0522,
   'lng': -118.2437,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Macau': {'region': 'Macau',
   'lat': 22.1987,
   'lng': 113.5439,
   'confirmed': 10.0,
   'recovered': 10.0,
   'deaths': 0.0},
  'Madison, WI': {'region': 'US',
   'lat': 43.0731,
   'lng': -89.4012,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Malaysia': {'region': 'Malaysia',
   'lat': 4.2105,
   'lng': 101.9758,
   'confirmed': 18.0,
   'recovered': 1.0,
   'deaths': 0.0},
  'Nepal': {'region': 'Nepal',
   'lat': 28.3949,
   'lng': 84.124,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'New South Wales': {'region': 'Australia',
   'lat': -33.8688,
   'lng': 151.2093,
   'confirmed': 4.0,
   'recovered': 2.0,
   'deaths': 0.0},
  'Ningxia': {'region': 'Mainland China',
   'lat': 37.26923,
   'lng': 106.1655,
   'confirmed': 49.0,
   'recovered': 13.0,
   'deaths': 0.0},
  'Orange, CA': {'region': 'US',
   'lat': 33.7879,
   'lng': -117.8531,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Philippines': {'region': 'Philippines',
   'lat': 12.8797,
   'lng': 121.774,
   'confirmed': 3.0,
   'recovered': 0.0,
   'deaths': 1.0},
  'Qinghai': {'region': 'Mainland China',
   'lat': 35.65945,
   'lng': 96.02564,
   'confirmed': 18.0,
   'recovered': 3.0,
   'deaths': 0.0},
  'Queensland': {'region': 'Australia',
   'lat': -27.4698,
   'lng': 153.0251,
   'confirmed': 5.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Russia': {'region': 'Russia',
   'lat': 61.524,
   'lng': 105.3188,
   'confirmed': 2.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'San Benito, CA': {'region': 'US',
   'lat': 36.5761,
   'lng': -120.9876,
   'confirmed': 2.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'San Diego County, CA': {'region': 'US',
   'lat': 32.7157,
   'lng': -117.1611,
   'confirmed': 0.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Santa Clara, CA': {'region': 'US',
   'lat': 37.3541,
   'lng': -121.9552,
   'confirmed': 2.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Seattle, WA': {'region': 'US',
   'lat': 47.7511,
   'lng': -120.74,
   'confirmed': 1.0,
   'recovered': 2.0,
   'deaths': 0.0},
  'Shaanxi': {'region': 'Mainland China',
   'lat': 35.19165,
   'lng': 108.8701,
   'confirmed': 213.0,
   'recovered': 26.0,
   'deaths': 0.0},
  'Shandong': {'region': 'Mainland China',
   'lat': 36.34377,
   'lng': 118.1529,
   'confirmed': 459.0,
   'recovered': 63.0,
   'deaths': 1.0},
  'Shanghai': {'region': 'Mainland China',
   'lat': 31.20327,
   'lng': 121.4554,
   'confirmed': 295.0,
   'recovered': 44.0,
   'deaths': 1.0},
  'Shanxi': {'region': 'Mainland China',
   'lat': 37.57769,
   'lng': 112.2922,
   'confirmed': 119.0,
   'recovered': 25.0,
   'deaths': 0.0},
  'Sichuan': {'region': 'Mainland China',
   'lat': 30.617140000000006,
   'lng': 102.7103,
   'confirmed': 405.0,
   'recovered': 76.0,
   'deaths': 1.0},
  'Singapore': {'region': 'Singapore',
   'lat': 1.3521,
   'lng': 103.8198,
   'confirmed': 43.0,
   'recovered': 2.0,
   'deaths': 0.0},
  'South Australia': {'region': 'Australia',
   'lat': -34.9285,
   'lng': 138.6007,
   'confirmed': 2.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'South Korea': {'region': 'South Korea',
   'lat': 37.5665,
   'lng': 126.978,
   'confirmed': 27.0,
   'recovered': 1.0,
   'deaths': 0.0},
  'Spain': {'region': 'Spain',
   'lat': 40.4637,
   'lng': -3.7492,
   'confirmed': 2.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Sri Lanka': {'region': 'Sri Lanka',
   'lat': 7.8731,
   'lng': 80.7718,
   'confirmed': 1.0,
   'recovered': 1.0,
   'deaths': 0.0},
  'Sweden': {'region': 'Sweden',
   'lat': 60.1282,
   'lng': 18.6435,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Taiwan': {'region': 'Taiwan',
   'lat': 23.6978,
   'lng': 120.9605,
   'confirmed': 18.0,
   'recovered': 1.0,
   'deaths': 0.0},
  'Tempe, AZ': {'region': 'US',
   'lat': 34.0489,
   'lng': -111.094,
   'confirmed': 1.0,
   'recovered': 1.0,
   'deaths': 0.0},
  'Thailand': {'region': 'Thailand',
   'lat': 13.7563,
   'lng': 100.5018,
   'confirmed': 32.0,
   'recovered': 0.0,
   'deaths': 1.0},
  'Tianjin': {'region': 'Mainland China',
   'lat': 39.29362,
   'lng': 117.333,
   'confirmed': 94.0,
   'recovered': 4.0,
   'deaths': 1.0},
  'Tibet': {'region': 'Mainland China',
   'lat': 30.1534,
   'lng': 88.7879,
   'confirmed': 1.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Toronto, ON': {'region': 'Canada',
   'lat': 43.6532,
   'lng': -79.3832,
   'confirmed': 2.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'UK': {'region': 'UK',
   'lat': 55.3781,
   'lng': -3.4360000000000004,
   'confirmed': 3.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'United Arab Emirates': {'region': 'United Arab Emirates',
   'lat': 23.4241,
   'lng': 53.8478,
   'confirmed': 7.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Victoria': {'region': 'Australia',
   'lat': -37.8136,
   'lng': 144.9631,
   'confirmed': 4.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Vietnam': {'region': 'Vietnam',
   'lat': 21.0278,
   'lng': 105.8342,
   'confirmed': 14.0,
   'recovered': 1.0,
   'deaths': 0.0},
  'Xinjiang': {'region': 'Mainland China',
   'lat': 41.11981,
   'lng': 85.17822,
   'confirmed': 49.0,
   'recovered': 0.0,
   'deaths': 0.0},
  'Yunnan': {'region': 'Mainland China',
   'lat': 24.97411,
   'lng': 101.4868,
   'confirmed': 141.0,
   'recovered': 18.0,
   'deaths': 0.0},
  'Zhejiang': {'region': 'Mainland China',
   'lat': 29.18251,
   'lng': 120.0985,
   'confirmed': 1092.0,
   'recovered': 201.0,
   'deaths': 0.0}},
 '_id': ObjectId('5e44d88ad2425471f7936929')}